@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    color: #333;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background: #eb9053;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}
#cart-icon{
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
#cart-icon:hover{
    color: black;
}
#cart-icon .cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #f57118;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.shop{
    padding: 150px 9% 30px;
}
.section-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}
.product-box .images-box{
    display: flex;
    border-radius: 10%;
    overflow: hidden;
}
.images-box img{
    width: 100%;
    transition: 0.5s;
}
.images-box:hover img{
    transform: scale(1.1);
}
.product-box .product-title{
    font-size: 20px;
    margin-top: 10px;
}
.product-box .product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-and-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-and-cart .price{
    font-size: 18px;
    font-weight: 500;
}
.price-and-cart .add-cart{
    padding: 10px;
    background: #f57118;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
/*-----------carrito de compras---------*/
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}
.cart.active{
    right: 0;
} 
.cart-title{
    text-align: center;
    font-size: 30px;
}
.cart-box{
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;    
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 9px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.cart-quantity #decrement{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}
.cart-remove{
    font-size: 25px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background: #f57118;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
}
#cart-close{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}
/*---header cinweb--*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#MenuItems{
    align-items: end;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin: 0 30px;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}
a:hover{
    color: black;
}
.logo{
    margin-right: 50px;
}
/*----footer----*/
.footer{
    background: #000;
    color: #8a8a8a;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 300px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    width: 180px;
    margin-bottom: 20px;
    display: table-column;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.row{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*--------marcas---------*/
.brands{
    margin: 30px auto;
}
.col-5{
    width: 50px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
@media screen and (max-width: 360px) {
    .product-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .cart{
        width: 100%;
    }
}
/*----------media query for less than 600 screen size-----*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .cart-info p{
        display: none;
    }
}
/*---------------consulta de medios para menu-------------*/ 
@media only screen and (max-width: 800px) {
    
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}